/* General Styles */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #36393f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

a {
    color: #7289da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Hide scrollbar for all elements */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#sidebar {
    width: 175px; /* Slightly wider for better spacing */
    background-color: #2f3136; /* Keep the dark background */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #40444b; /* Add a subtle border for separation */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
    border-radius: 5px; /* Optional: Rounded corners */
    border-bottom: 5px solid #0072fd;

}
.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-header h2 {
    color: #ffffff;
    margin-top: 50px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}/*  dark mode styling */
body {
    background-color: #1e1e1e;  /* Dark background */
    color: rgb(255, 255, 255);  /* Light text */
    transition: background-color 0.5s, color 0.5s;
}

/* light mode styling */
body.light-mode {
    background-color: #F9F6EE;  /* Light background */
    color: black;  /* Dark text */
}

/* other styling for text */
body.light-mode p, 
body.light-mode h1,
body.light-mode h2, 
body.light-mode h3, 
body.light-mode h4, 
body.light-mode h5, 
body.light-mode h6, 
body.light-mode a {
    color: rgb(0, 0, 0); 
}

body.dark-mode p, 
body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3, 
body.dark-mode h4, 
body.dark-mode h5, 
body.dark-mode h6, 
body.dark-mode a {
    color: white;  
}

/* light mode button styling */
#theme-toggle {
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #090909;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

/* dark button hover styling */
#theme-toggle:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* light mode button styling */
body.light-mode #theme-toggle {
    background-color: white;
    color: black;
    border: 1px solid black;

}

/* light mode button hover styling */
body.light-mode #theme-toggle:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/*  styling for links */
a {
    color: #00bcd4;  /* link color */
    text-decoration: none;
}

a:hover {
    color: #ff5722;  /*  link color on hover */
}

body.light-mode a {
    color: #00bcd4;
}

body:not(.light-mode) a {
    color: #00bcd4;
}

/* menu icon shit */
.menu-icon {
    position: fixed;
    top: 5px;
    right: 30px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}
#dropdown-menu {
    position: absolute;
    top: 100%;
    right: 15px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    display: none;
    flex-direction: column;
    padding: 10px;
    z-index: 9999;
}

#dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background 0.3s;
    border-radius: 4px;
}

#dropdown-menu a:hover {
    background: #00d4ff;
    color: black;
}

/* hovering over the menu-icon stuff */
#menu-icon:hover #dropdown-menu {
    display: flex; 
}

/* dropdown button styling */
#dropdown-menu .dropdown-button {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

#dropdown-menu .dropdown-button:hover {
    background-color: #00d4ff;
    color: black;
}

/* config header in the dropdown menu */
#dropdown-menu h4 {
    text-align: center; 
    font-size: 18px; 
    font-weight: bold; 
    color: white; 
    margin-bottom: 10px; 
    border-bottom: 2px solid #00d4ff; 
    padding-bottom: 10;
    margin-top: auto;
}

.sidebar-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3d64a8;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-list li:hover {
    background-color: #5865f2;
}

.sidebar-list li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-list li span {
    color: #ffffff;
    font-weight: bold;
}

/* Light mode sidebar */
body.light-mode #sidebar {
    background-color: #ffffff;  /* Light background */
    color: black;  /* Dark text */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  /* Lighter shadow */
}
/* Main Content */
#content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-top: 60px; /* Adjust this value to match the height of the navbar */
}

/* Navigation Bar */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #222;
    color: white;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#header h1 {
    margin: 0;
    font-size: 1.5em;
    margin-right: 20px; /* Add spacing between the title and nav links */
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00d4ff;
}

/* Responsive Menu Icon */
#menu-icon {
    position: absolute; /* Keep it in the corner */
    top: -10px;
    right: 35px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}

#menu-icon i {
    font-size: 20px;
    color: white;
    transition: color 0.3s ease-in-out;
}

#menu-icon:hover i {
    color: #00bcd4;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide links on smaller screens */
        flex-direction: column;
        background: #222;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .nav-links.active {
        display: flex; /* Show links when active */
    }

    #menu-icon {
        display: block; /* Show menu icon on smaller screens */
        cursor: pointer;
    }
}

/* Light mode header */
body.light-mode #header {
    background: white;  /* Light background */
    color: black;  /* Dark text */
    border-bottom: 5px solid #0072fd;  /* Optional, keeps the blue border */
}

#main {
    margin-top: 20px;
    padding: 20px 15px 5px 15px;  /* oliver -top right bottom left */
    background-color: #2f3136;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 8px 24px rgba(0, 0, 0, 0.12);
}
/* Light mode main */
body.light-mode #main {
    background: white;  /* Light background */
    color: black;  /* Dark text */
    border-bottom: 5px solid #0072fd;  /* Optional, keeps the blue border */
}

.main {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #36393f;
    border-radius: 10px;
}

.main h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;}

.main p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #b9bbbe;
}

/* Tables */
.table-wrapper {
    overflow-x: auto;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #40444b;
}

table th {
    background-color: #202225;
    color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #2f3136;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289da;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #5865f2;
}

.button.primary {
    background-color: #43b581;
}

.button.primary:hover {
    background-color: #3ba374;
}

/* Footer */
#footer {
    background: #161b22;
    color: #ffffff;
    padding: 3em 0;
    text-align: center;
}

#footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#footer h2 {
    font-size: 1.5em;
    margin-bottom: 0.50em;
}

#footer p {
    font-size: 1em;
    margin-bottom: 1em;
}

#footer .actions {
    margin-bottom: 1em;
}

#footer .actions .button {
    margin: 0.5em;
}

#footer .icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .icons li {
    display: inline;
    margin: 0 0.5em;
}

#footer .icons a {
    color: #ffffff;
    font-size: 1.5em;
}

#footer .icons a:hover {
    color: #58a6ff;
}

#footer .copyright {
    font-size: 0.9em;
    margin-top: 1em;
}

/* Theme Toggle Container */
.theme-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    color: white;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00d4ff;
}

input:checked + .slider:before {
    transform: translateX(20px);
}